*.obj
*.pdb
*.lib
*.tlog
*.log
*.pch
*.res
*.idb
*.user
*.filters
*.manifest
*.suo
*.lastbuildstate
*.unsuccessfulbuild
*.XML
*.o
*.a
*.so
*.dll
*.ilk
*.exp
*.sbr
*.tlh
*.ipch
*.dep
*.sdf
*.exe
*.klog
thnht
cpplib
stdafx*
ReadMe.txt
_UpgradeReport_Files
targetver.h
tags
Release
Debug
*.htm
*.html
*.bak
*.map
*.pyc
*.ncb
*.s
*.i
.buildenv
CURRENT
.ycm_extra_conf.py
a.out
